@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap");

.intro-header {
  color: rgb(13, 192, 118);
  font-family: "Bree Serif", serif;
  font-size: 3rem;
}

.intro-body {
  font-family: "Sarabun", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.intro-btnStyle {
  border: 2px black solid;
  background-color: white;
  border-radius: 50px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  height: 75px;
  font-size: 0.75rem;
}

.intro-btnStyle:hover {
    border: 2px rgb(13, 192, 118) solid;
    border-radius: 50px;
    background-color: white;
    color: rgb(13, 192, 118);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    height: 75px;
    font-size: 0.75rem;
  }