@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


.brands-header{
    font-family: "Montserrat", sans-serif;
    color: rgb(82, 82, 82);
    font-weight: 700;
    font-size: 1.25rem;
}