@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.def-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.def-desc {
  font-family: "Montserrat", sans-serif;
}
