@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.brand{
    text-decoration: none;
    font-family:  'Montserrat', sans-serif;
    font-weight: 700;
}

a.navBrand.brand.navbar-brand{
    color: green;
    font-size: 2rem;
    background-color: transparent;
}

.brand:hover{
    text-decoration: none;
}

.btnTestdiv{
    float: right;
}

button.btnTest.btn.btn-primary{
    border: 1px green solid;
    background-color: green;
    color: black;
    font-family:  'Montserrat', sans-serif;;
    font-size: 1rem;
}

.r{
    border: 2px solid black;
}